* {	
	padding: 0;
}

.border{
	border: 2px solid #696969;
	border-radius: 10px;
}

#timer {
	width: 200px;
	height: 200px;
	margin: auto;
	padding-top: 25px;
	background-color: #B0E0E6;
	text-align: center;		
}

p {
	margin: 0;
	font-size: 20px;
	font-family: arial;
	text-transform: uppercase;
}

.box {
	width: 76px;
	height: 76px;
	display: inline-block;
	margin-top: 25px;
	background-color: #FAEBD7;	
}

.box:focus{
	outline: -webkit-focus-ring-color auto 0px;
	background-color: #4169E1
}

.start {
	border: 15px solid transparent;
	border-left: 30px solid #800000;
	margin-left: 25px;
}

.stop{	
	width: 30px;
	height: 30px;
	margin: 0;
	background-color: #800000;	
}
